/*******************************************************************************
    HERO
*******************************************************************************/

.hero {
    height: 500px;
    padding-top: 150px;

    background: url('../img/drunkards-hero.jpg');
    background-attachment: fixed;
    background-position: 50% 50%;
	background-repeat: no-repeat;
}
