/*******************************************************************************
    MAIN STYLES
*******************************************************************************/

.wrapper {
    margin: 0 auto;
    width: 80%;
}

.art-page-wrapper {
    margin-left: 50px;
    width: 80%;
}
