/*******************************************************************************
    COLORS
*******************************************************************************/
$primary-color: #3cc0d6;


/*******************************************************************************
    FONTS
*******************************************************************************/
$header-font: 'Oswald', sans-serif;
$secondary-font: 'Raleway', sans-serif;

/*******************************************************************************
    THUMBNAIL GALLERY
*******************************************************************************/
$thumb-width: 100%;
$thumb-height: 360px;
